doctype html
html
    head
        title Psi Builds
        meta(lang="en-us")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Arimo|Nanum+Gothic|Titillium+Web|Work+Sans" rel="stylesheet") 
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        script(src="node_modules/jquery/dist/jquery.min.js")
        link(rel="stylesheet", href="node_modules/normalize.css/normalize.css")
        link(rel="stylesheet", href="node_modules/skeleton.css/skeleton.css")
        link(rel="stylesheet", href="styles/index.sass")
    body
        .masthead
            #bg-image
            .content
                #head
                    #info
                        #title Psi
                        #sub-header CUSTOM PCs
                    .nav-items
                        span(style="letter-spacing: 14px") 10 YEARS
        .about
            .container
                span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                div
                    b
                        em -- Peter Strizhev
        .services
            .container(style="height: 100%")
                .info
                    .item
                        .header
                            i.fas.fa-search.icon
                            .sub Research
                        .content
                            span.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .item
                        .header
                            i.fas.fa-wrench.icon
                            .sub Build
                        .content
                            span.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .item
                        .header
                            i.fas.fa-desktop.icon
                            .sub Deploy
                        .content
                            span.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .pricing
                div(style="font-size: 1.3em") All for
                div Price of Parts* + 5%
                div(style="font-size: 0.5em; opacity: 0.8; text-align: right") *includes shipping

        .getting-started
            .call-to-action
                .title Contact
                .sub inquiries and orders
            br
            .browser
                .bar
                    .search
                        span(style="color: lightgrey") https://
                        span email.com
                    .buttons
                        .green
                        .yellow
                        .red
                .content
                    .email
                        .headers
                            .to
                                .label To
                                .contact contact@psibuilds.net
                            hr.sep
                            .subject
                                .label Subject
                                .content Psi Build Request
                            hr.sep
                        .content.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .footer
            .container
                div Built with #[span(style="color: pink") ❤] ️by #[a(target="_blank" href="http://www.tkaden.net") Kaden Thomas]
        script(src="./index.js")