$dark-grey: #0a0a0c;

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Titillium Web';
    font-size: 16px;
    color: ghostwhite;
    background-color: $dark-grey;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav {
    position: fixed;
    top: 5%;
    width: 100%;
    height: 40px;
    opacity: 1;
    z-index: 1;

    .container {
        height: 100%;
    }

}

.nav-items {
    color: ghostwhite;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    .item {
        font-size: 0.8em;
        text-align: center;
        a {
            color: ghostwhite;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #1a1a1c;
    opacity: 0;
    z-index: 1;
    border-bottom: 1px solid lightgrey;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
.nav-shown {
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.nav-hidden {
    animation-name: fade-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.masthead {
    $masthead-bg: $dark-grey;
    $masthead-height: 95%;

    height: $masthead-height;

    font-size: 8px;
    @media (max-width: 340px) {
        font-size: 2.3vw;
    }

    color: ghostwhite;
    background-color: black;

    font-family: "Work Sans", arial, sans-serif;

    #bg-image {
        width: 100%;
        height: 100%;
        background-image: url("assets/motherboard.jpg");
        filter: grayscale(100%);
        opacity: 0.1;
    }

    .content {
        position: absolute;
        top: 0;
        height: $masthead-height;
        width: 100%;
        .nav-items {
            font-size: 2em;
        }
        #head {
            $box-size: 33em;
            $head-box-size: $box-size;
            @extend .centered;
            height: $head-box-size + 10em;
            width: $head-box-size;
            #info {
                @extend .centered;
                text-align: center;
                border: 1em solid ghostwhite;
                height: $box-size;
                width: $box-size;
                //background: linear-gradient(275deg, gray 50%, transparent 50%);

                #title {
                    margin-top: 0.2em;
                    height: 1em;
                    line-height: 1em;
                    font-size: 20em;
                }
                #sub-header {
                    font-size: 2.8em;
                    opacity: 0.8;
                }
            }
        }
    }
}

.services {
    $grad-col: #ee0000ee;
    $grad-end-col: #1a1a1c;

    $grad-bord: 68%;
    background: linear-gradient(175deg, $grad-col 0%, $grad-col $grad-bord, $grad-end-col $grad-bord, $grad-end-col 100%);
    @media (min-width: 315px * 3) {
        $grad-bord: 90%;
        background: linear-gradient(175deg, $grad-col 0%, $grad-col $grad-bord, $grad-end-col $grad-bord, $grad-end-col 100%);
    }

    width: 100%;

    .info {
        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-around;

        .item {
            flex-basis: 300px;

            margin: 15px 0;
            padding: 15px 0;

            width: 300px;

            text-align: center;

            .header {
                width: 100%;

                & * {
                    display: inline-block;
                }

                .icon {
                    font-size: 25px;
                }

                .sub {
                    font-size: 30px;
                    font-weight: 600;
                    &::before {
                        content : "- ";
                    }
                }
            }

            .content {
                font-size: 13px;
                opacity: 0.9;
            }
        }
    }
}